run = "bash start-replit.sh"
modules = ["nodejs-20", "web", "bash"]

hidden = [".config", "package-lock.json", "frontend/package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm run deploy"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 4173
externalPort = 4173

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio" 

[workflows]
runButton = "Start Application"

[[workflows.workflow]]
name = "Start Application"
author = 30892708
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start-replit.sh"
